[data-error],
[data-error-multi],
[data-error-check]
	display none

[data-modal-trigger]
	&.is-disable
		opacity .5

[data-target-history]
	&.is-empty
		color text

[data-target-insert]
	&.is-disable
		display none

[data-target-inputcompany]
	&.form--primary__text
		display none
//.header--primary
//	&.is-disable
//		display none
//	&.is-fade
//		animation-duration: 1.5s;
//		animation-name: fadein;

