.column-box--gray
	background-color back

//new
.column-box--new__ttl
	color text
	padding-left: 15px
	margin-bottom: 10px
	.c-icon--heart
		position: relative
		top 1px
		margin-right 2px
	.c-icon--star
		position: relative
		top 1px
		margin-right 2px

.column-box--new__lists
	border-top 1px solid menu
	&:nth-last-of-type(1)
		border-bottom 1px solid menu
	> a
		display flex
		width 100%
		height 100%
		padding 10px 0
	.-new__list__img
		width 46%
		margin-right: 4%
		height 100px
		position: relative
		background-repeat no-repeat
		background-size cover
		background-position center
	.-new__list__right
		width 46%
		margin-right: 4%
		height 100px
		position: relative
	.-new__list__text
		color text
		lineClamp(60px,3)
	.c-icon--circle--m
		position: absolute
		top 5px
		left 20px
		display block
		> span
			display: block
			position: absolute
			top: 10px
			left: 3px
			color primary__
	.c-icon--tag
		position: absolute
		top 5px
		left 0
		display block
		> span
			display: block
			position: absolute
			top: 5px
			left: 14px
			color primary__
	._list__right__bottom
		display flex
		justify-content space-between
		align-items center
		position: absolute
		bottom 0
		width 100%
	._right__bottom__num
		color text
		.c-icon--eye
			position: relative
			top 1px
			margin-right 2px
.column-box__secret--table
	background primary__
._secret__detail__tab
	border-bottom 1px solid line
	display flex
	align-items flex-end
	justify-content flex-start
	@extend $sidepadding
	._detail__tab__inner
		width 49%
		height 40px
		line-height: 40px
		border-radius 3px 3px 0 0
		color base
		border 1px solid line
		border-bottom none
		position: relative
		top 1px
		z-index 1
		text-align center
		cursor pointer
		text-align left
		padding-left 15px
		&:nth-of-type(1)
			margin 0 2% 0 0
		&.is-active
			border-bottom 1px solid primary__
._secret__detail--recruit
	padding-top 20px
	padding-bottom: 20px
	@extend $sidepadding

//secret table
._secret__detail__table
	width 100%
	border 1px solid line
	table-layout fixed
	border-bottom none
	border-collapse: collapse
	tr
		border-bottom 1px solid line
	.c-tag--detail--table
		margin-right: 5px
		margin-bottom: 5px
	&.is-disable
		display none
._detail__table__left
	width 25%
	text-align center
	color text
	background-color back
	min-height: 50px
._detail__table__right
	width 75%
	color text
	padding 10px
._detail__table__map
	position: relative
	padding-bottom: 65%
	height: 0
	overflow: hidden
	iframe
		position: absolute
		top: 0
		left: 0
		width: 100% !important
		height: 100% !important

.column-box__secret__btnBLock
	z-index 1000
	position fixed
	bottom 0
	left 0
	right 0
	background-color rgba(0,0,0,.3)
	padding-top 12px
	padding-bottom: 12px
	@extend $sidepadding
	display flex
	justify-content space-between
	.c-button-square--l--gray,
	.c-button-square--l
		width 48%
	.c-font-icon--attachment
		margin-right: 3px



