.modal
	max-width 280px
	input
		width 235px
		height 40px
		line-height: 40px
		border 1px solid line
	.c-button-square--social
		margin-right auto
		margin-left auto
	.c-icon--close
		position: absolute
		right 10px
		top 10px
	.c-button-square--l
		margin-right auto
		margin-left auto
	.form--login__repletion
		color text
	&.prefmodal,
	&.waysidemodal
		.modal__inner
			padding 0 20px 20px
		.modal__checkbox
			padding 0
		.modal__btn
			margin-top 20px
	.search-checkbox + label
		width 100%
.modal__ttl
	background base
	color primary__
	padding 10px 0 10px 20px
	text-align left
.modal__inner__ttl
	color text
.modal__sub__ttl
	padding 10px
	background-color menu
	color text
	border-radius 2px
	text-align left
.modal__inner
	padding 55px 20px 20px
.modal__checkbox
	text-align left
	padding 0 10px
	color text
.modal__btn
	margin-top: 120px
	.c-button-square--mm
		margin auto
.search-checkbox__label--modal
	width 150px
	display inline-block
.modal__inner__text--notes
	color text