//Foundation
@import "foundation/reset";
global-reset()
reset-html5()
@import "foundation/form_reset";
@import "foundation/variable";
@import "foundation/mixin";
@import "foundation/base";
//Layout
@import "layout/header";
@import "layout/form";
@import "layout/footer";
//Object

body
	font-size: 2rem
	background-color #999
	display flex
	background-image url('../img/test.png')
	
	
	
//component
//@import "object/component/button";
//@import "object/component/icon";
//@import "object/component/hamburger";
//@import "object/component/tag";
//@import "object/component/iconFont";
//@import "object/component/slider";

//project
//@import "object/project/box/generalBox";
//@import "object/project/box/navBox";
//@import "object/project/box/columnBox";
//@import "object/project/box/contentsBox";
//@import "object/project/form/search";
//@import "object/project/form/primary";
//@import "object/project/tab";
//@import "object/project/form/search";
//@import "object/project/breadcrumb";
//@import "object/project/pager";
//@import "object/project/remodal";
//@import "object/project/modal";
//@import "object/project/list";
//@import "object/project/screen";
//@import "object/project/primaryTable";


//utitlity
@import "object/utility/clearfix";
@import "object/utility/text";
@import "object/utility/margin";
@import "object/utility/state";


//基本コメントアウトはいらないPCからのやつ






