/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_attention_name = 'icon-attention';
$icon_attention_x = 202px;
$icon_attention_y = 174px;
$icon_attention_offset_x = -202px;
$icon_attention_offset_y = -174px;
$icon_attention_width = 38px;
$icon_attention_height = 32px;
$icon_attention_total_width = 340px;
$icon_attention_total_height = 258px;
$icon_attention_image = '../img/sprite/sprite.png';
$icon_attention = 202px 174px -202px -174px 38px 32px 340px 258px '../img/sprite/sprite.png' 'icon-attention';
$icon_career_name = 'icon-career';
$icon_career_x = 256px;
$icon_career_y = 132px;
$icon_career_offset_x = -256px;
$icon_career_offset_y = -132px;
$icon_career_width = 42px;
$icon_career_height = 30px;
$icon_career_total_width = 340px;
$icon_career_total_height = 258px;
$icon_career_image = '../img/sprite/sprite.png';
$icon_career = 256px 132px -256px -132px 42px 30px 340px 258px '../img/sprite/sprite.png' 'icon-career';
$icon_check_on_name = 'icon-check-on';
$icon_check_on_x = 44px;
$icon_check_on_y = 174px;
$icon_check_on_offset_x = -44px;
$icon_check_on_offset_y = -174px;
$icon_check_on_width = 40px;
$icon_check_on_height = 40px;
$icon_check_on_total_width = 340px;
$icon_check_on_total_height = 258px;
$icon_check_on_image = '../img/sprite/sprite.png';
$icon_check_on = 44px 174px -44px -174px 40px 40px 340px 258px '../img/sprite/sprite.png' 'icon-check-on';
$icon_check_name = 'icon-check';
$icon_check_x = 86px;
$icon_check_y = 174px;
$icon_check_offset_x = -86px;
$icon_check_offset_y = -174px;
$icon_check_width = 40px;
$icon_check_height = 40px;
$icon_check_total_width = 340px;
$icon_check_total_height = 258px;
$icon_check_image = '../img/sprite/sprite.png';
$icon_check = 86px 174px -86px -174px 40px 40px 340px 258px '../img/sprite/sprite.png' 'icon-check';
$icon_chopsticks_name = 'icon-chopsticks';
$icon_chopsticks_x = 86px;
$icon_chopsticks_y = 132px;
$icon_chopsticks_offset_x = -86px;
$icon_chopsticks_offset_y = -132px;
$icon_chopsticks_width = 44px;
$icon_chopsticks_height = 38px;
$icon_chopsticks_total_width = 340px;
$icon_chopsticks_total_height = 258px;
$icon_chopsticks_image = '../img/sprite/sprite.png';
$icon_chopsticks = 86px 132px -86px -132px 44px 38px 340px 258px '../img/sprite/sprite.png' 'icon-chopsticks';
$icon_close_name = 'icon-close';
$icon_close_x = 218px;
$icon_close_y = 132px;
$icon_close_offset_x = -218px;
$icon_close_offset_y = -132px;
$icon_close_width = 36px;
$icon_close_height = 36px;
$icon_close_total_width = 340px;
$icon_close_total_height = 258px;
$icon_close_image = '../img/sprite/sprite.png';
$icon_close = 218px 132px -218px -132px 36px 36px 340px 258px '../img/sprite/sprite.png' 'icon-close';
$icon_content_name = 'icon-content';
$icon_content_x = 132px;
$icon_content_y = 132px;
$icon_content_offset_x = -132px;
$icon_content_offset_y = -132px;
$icon_content_width = 42px;
$icon_content_height = 36px;
$icon_content_total_width = 340px;
$icon_content_total_height = 258px;
$icon_content_image = '../img/sprite/sprite.png';
$icon_content = 132px 132px -132px -132px 42px 36px 340px 258px '../img/sprite/sprite.png' 'icon-content';
$icon_eye_name = 'icon-eye';
$icon_eye_x = 300px;
$icon_eye_y = 132px;
$icon_eye_offset_x = -300px;
$icon_eye_offset_y = -132px;
$icon_eye_width = 38px;
$icon_eye_height = 22px;
$icon_eye_total_width = 340px;
$icon_eye_total_height = 258px;
$icon_eye_image = '../img/sprite/sprite.png';
$icon_eye = 300px 132px -300px -132px 38px 22px 340px 258px '../img/sprite/sprite.png' 'icon-eye';
$icon_flow_c_is_name = 'icon-flow-c-is';
$icon_flow_c_is_x = 172px;
$icon_flow_c_is_y = 44px;
$icon_flow_c_is_offset_x = -172px;
$icon_flow_c_is_offset_y = -44px;
$icon_flow_c_is_width = 168px;
$icon_flow_c_is_height = 42px;
$icon_flow_c_is_total_width = 340px;
$icon_flow_c_is_total_height = 258px;
$icon_flow_c_is_image = '../img/sprite/sprite.png';
$icon_flow_c_is = 172px 44px -172px -44px 168px 42px 340px 258px '../img/sprite/sprite.png' 'icon-flow-c-is';
$icon_flow_c_name = 'icon-flow-c';
$icon_flow_c_x = 0px;
$icon_flow_c_y = 88px;
$icon_flow_c_offset_x = 0px;
$icon_flow_c_offset_y = -88px;
$icon_flow_c_width = 168px;
$icon_flow_c_height = 42px;
$icon_flow_c_total_width = 340px;
$icon_flow_c_total_height = 258px;
$icon_flow_c_image = '../img/sprite/sprite.png';
$icon_flow_c = 0px 88px 0px -88px 168px 42px 340px 258px '../img/sprite/sprite.png' 'icon-flow-c';
$icon_flow_l_is_name = 'icon-flow-l-is';
$icon_flow_l_is_x = 172px;
$icon_flow_l_is_y = 0px;
$icon_flow_l_is_offset_x = -172px;
$icon_flow_l_is_offset_y = 0px;
$icon_flow_l_is_width = 168px;
$icon_flow_l_is_height = 42px;
$icon_flow_l_is_total_width = 340px;
$icon_flow_l_is_total_height = 258px;
$icon_flow_l_is_image = '../img/sprite/sprite.png';
$icon_flow_l_is = 172px 0px -172px 0px 168px 42px 340px 258px '../img/sprite/sprite.png' 'icon-flow-l-is';
$icon_flow_l_name = 'icon-flow-l';
$icon_flow_l_x = 172px;
$icon_flow_l_y = 88px;
$icon_flow_l_offset_x = -172px;
$icon_flow_l_offset_y = -88px;
$icon_flow_l_width = 168px;
$icon_flow_l_height = 40px;
$icon_flow_l_total_width = 340px;
$icon_flow_l_total_height = 258px;
$icon_flow_l_image = '../img/sprite/sprite.png';
$icon_flow_l = 172px 88px -172px -88px 168px 40px 340px 258px '../img/sprite/sprite.png' 'icon-flow-l';
$icon_flow_r_is_name = 'icon-flow-r-is';
$icon_flow_r_is_x = 0px;
$icon_flow_r_is_y = 44px;
$icon_flow_r_is_offset_x = 0px;
$icon_flow_r_is_offset_y = -44px;
$icon_flow_r_is_width = 170px;
$icon_flow_r_is_height = 42px;
$icon_flow_r_is_total_width = 340px;
$icon_flow_r_is_total_height = 258px;
$icon_flow_r_is_image = '../img/sprite/sprite.png';
$icon_flow_r_is = 0px 44px 0px -44px 170px 42px 340px 258px '../img/sprite/sprite.png' 'icon-flow-r-is';
$icon_flow_r_name = 'icon-flow-r';
$icon_flow_r_x = 0px;
$icon_flow_r_y = 0px;
$icon_flow_r_offset_x = 0px;
$icon_flow_r_offset_y = 0px;
$icon_flow_r_width = 170px;
$icon_flow_r_height = 42px;
$icon_flow_r_total_width = 340px;
$icon_flow_r_total_height = 258px;
$icon_flow_r_image = '../img/sprite/sprite.png';
$icon_flow_r = 0px 0px 0px 0px 170px 42px 340px 258px '../img/sprite/sprite.png' 'icon-flow-r';
$icon_heart_name = 'icon-heart';
$icon_heart_x = 154px;
$icon_heart_y = 218px;
$icon_heart_offset_x = -154px;
$icon_heart_offset_y = -218px;
$icon_heart_width = 24px;
$icon_heart_height = 22px;
$icon_heart_total_width = 340px;
$icon_heart_total_height = 258px;
$icon_heart_image = '../img/sprite/sprite.png';
$icon_heart = 154px 218px -154px -218px 24px 22px 340px 258px '../img/sprite/sprite.png' 'icon-heart';
$icon_interview_name = 'icon-interview';
$icon_interview_x = 64px;
$icon_interview_y = 218px;
$icon_interview_offset_x = -64px;
$icon_interview_offset_y = -218px;
$icon_interview_width = 28px;
$icon_interview_height = 40px;
$icon_interview_total_width = 340px;
$icon_interview_total_height = 258px;
$icon_interview_image = '../img/sprite/sprite.png';
$icon_interview = 64px 218px -64px -218px 28px 40px 340px 258px '../img/sprite/sprite.png' 'icon-interview';
$icon_people_name = 'icon-people';
$icon_people_x = 312px;
$icon_people_y = 174px;
$icon_people_offset_x = -312px;
$icon_people_offset_y = -174px;
$icon_people_width = 22px;
$icon_people_height = 28px;
$icon_people_total_width = 340px;
$icon_people_total_height = 258px;
$icon_people_image = '../img/sprite/sprite.png';
$icon_people = 312px 174px -312px -174px 22px 28px 340px 258px '../img/sprite/sprite.png' 'icon-people';
$icon_radio_on_name = 'icon-radio-on';
$icon_radio_on_x = 94px;
$icon_radio_on_y = 218px;
$icon_radio_on_offset_x = -94px;
$icon_radio_on_offset_y = -218px;
$icon_radio_on_width = 32px;
$icon_radio_on_height = 32px;
$icon_radio_on_total_width = 340px;
$icon_radio_on_total_height = 258px;
$icon_radio_on_image = '../img/sprite/sprite.png';
$icon_radio_on = 94px 218px -94px -218px 32px 32px 340px 258px '../img/sprite/sprite.png' 'icon-radio-on';
$icon_radio_name = 'icon-radio';
$icon_radio_x = 278px;
$icon_radio_y = 174px;
$icon_radio_offset_x = -278px;
$icon_radio_offset_y = -174px;
$icon_radio_width = 32px;
$icon_radio_height = 32px;
$icon_radio_total_width = 340px;
$icon_radio_total_height = 258px;
$icon_radio_image = '../img/sprite/sprite.png';
$icon_radio = 278px 174px -278px -174px 32px 32px 340px 258px '../img/sprite/sprite.png' 'icon-radio';
$icon_search_gray_name = 'icon-search-gray';
$icon_search_gray_x = 242px;
$icon_search_gray_y = 174px;
$icon_search_gray_offset_x = -242px;
$icon_search_gray_offset_y = -174px;
$icon_search_gray_width = 34px;
$icon_search_gray_height = 32px;
$icon_search_gray_total_width = 340px;
$icon_search_gray_total_height = 258px;
$icon_search_gray_image = '../img/sprite/sprite.png';
$icon_search_gray = 242px 174px -242px -174px 34px 32px 340px 258px '../img/sprite/sprite.png' 'icon-search-gray';
$icon_search_name = 'icon-search';
$icon_search_x = 0px;
$icon_search_y = 174px;
$icon_search_offset_x = 0px;
$icon_search_offset_y = -174px;
$icon_search_width = 42px;
$icon_search_height = 42px;
$icon_search_total_width = 340px;
$icon_search_total_height = 258px;
$icon_search_image = '../img/sprite/sprite.png';
$icon_search = 0px 174px 0px -174px 42px 42px 340px 258px '../img/sprite/sprite.png' 'icon-search';
$icon_secret_name = 'icon-secret';
$icon_secret_x = 168px;
$icon_secret_y = 174px;
$icon_secret_offset_x = -168px;
$icon_secret_offset_y = -174px;
$icon_secret_width = 32px;
$icon_secret_height = 40px;
$icon_secret_total_width = 340px;
$icon_secret_total_height = 258px;
$icon_secret_image = '../img/sprite/sprite.png';
$icon_secret = 168px 174px -168px -174px 32px 40px 340px 258px '../img/sprite/sprite.png' 'icon-secret';
$icon_skill_name = 'icon-skill';
$icon_skill_x = 128px;
$icon_skill_y = 174px;
$icon_skill_offset_x = -128px;
$icon_skill_offset_y = -174px;
$icon_skill_width = 38px;
$icon_skill_height = 40px;
$icon_skill_total_width = 340px;
$icon_skill_total_height = 258px;
$icon_skill_image = '../img/sprite/sprite.png';
$icon_skill = 128px 174px -128px -174px 38px 40px 340px 258px '../img/sprite/sprite.png' 'icon-skill';
$icon_star_name = 'icon-star';
$icon_star_x = 128px;
$icon_star_y = 218px;
$icon_star_offset_x = -128px;
$icon_star_offset_y = -218px;
$icon_star_width = 24px;
$icon_star_height = 24px;
$icon_star_total_width = 340px;
$icon_star_total_height = 258px;
$icon_star_image = '../img/sprite/sprite.png';
$icon_star = 128px 218px -128px -218px 24px 24px 340px 258px '../img/sprite/sprite.png' 'icon-star';
$icon_tag_name = 'icon-tag';
$icon_tag_x = 0px;
$icon_tag_y = 132px;
$icon_tag_offset_x = 0px;
$icon_tag_offset_y = -132px;
$icon_tag_width = 84px;
$icon_tag_height = 40px;
$icon_tag_total_width = 340px;
$icon_tag_total_height = 258px;
$icon_tag_image = '../img/sprite/sprite.png';
$icon_tag = 0px 132px 0px -132px 84px 40px 340px 258px '../img/sprite/sprite.png' 'icon-tag';
$icon_trend_name = 'icon-trend';
$icon_trend_x = 0px;
$icon_trend_y = 218px;
$icon_trend_offset_x = 0px;
$icon_trend_offset_y = -218px;
$icon_trend_width = 30px;
$icon_trend_height = 40px;
$icon_trend_total_width = 340px;
$icon_trend_total_height = 258px;
$icon_trend_image = '../img/sprite/sprite.png';
$icon_trend = 0px 218px 0px -218px 30px 40px 340px 258px '../img/sprite/sprite.png' 'icon-trend';
$icon_work_name = 'icon-work';
$icon_work_x = 32px;
$icon_work_y = 218px;
$icon_work_offset_x = -32px;
$icon_work_offset_y = -218px;
$icon_work_width = 30px;
$icon_work_height = 40px;
$icon_work_total_width = 340px;
$icon_work_total_height = 258px;
$icon_work_image = '../img/sprite/sprite.png';
$icon_work = 32px 218px -32px -218px 30px 40px 340px 258px '../img/sprite/sprite.png' 'icon-work';
$icon_home_name = 'icon_home';
$icon_home_x = 176px;
$icon_home_y = 132px;
$icon_home_offset_x = -176px;
$icon_home_offset_y = -132px;
$icon_home_width = 40px;
$icon_home_height = 36px;
$icon_home_total_width = 340px;
$icon_home_total_height = 258px;
$icon_home_image = '../img/sprite/sprite.png';
$icon_home = 176px 132px -176px -132px 40px 36px 340px 258px '../img/sprite/sprite.png' 'icon_home';
$spritesheet_width = 340px;
$spritesheet_height = 258px;
$spritesheet_image = '../img/sprite/sprite.png';
$spritesheet_sprites = $icon_attention $icon_career $icon_check_on $icon_check $icon_chopsticks $icon_close $icon_content $icon_eye $icon_flow_c_is $icon_flow_c $icon_flow_l_is $icon_flow_l $icon_flow_r_is $icon_flow_r $icon_heart $icon_interview $icon_people $icon_radio_on $icon_radio $icon_search_gray $icon_search $icon_secret $icon_skill $icon_star $icon_tag $icon_trend $icon_work $icon_home;
$spritesheet = 340px 258px '../img/sprite/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
